@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0;
}



@media (max-width: 850px) {
  .titulo a {
    font-size: 20pt;
    margin-left: -10px;
  }
}

@media (max-width: 1219px) {
  #noticias #conteudo {
    width: 1000px;
  }
}

@media (max-width: 1020px) {
  #noticias #conteudo {
    width: 800px;
  }

  #conteudo .niniciais {
    justify-content: space-around;
  }
}


body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(172, 172, 194);
}

div {
  display: block;
}

h2 {
  text-indent: 15px;
}

#conteudo {
  margin: 0 auto 48px auto;
  width: 1200px;
  height: 4000px;
  padding: 0 12px 0 12px;
}

.niniciais {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.ainicial img {
  height: 163px;
  width: 163px;
  padding: 20px
}

picture img {
  border-radius: 50% !important;
}

.niniciais .ainicial {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  height: 280px;
  width: 163.500;
  margin-bottom: 20px;
}

.niniciais a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
  width: 65px;
  height: 40px;
}

.linha {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  background-color: black;
}

.blinha {
  width: 89%;
  height: 2px;
  background-color: rgb(118, 166, 255);
}

.subtitulos {
  margin-top: 40px;
  margin-bottom: -20px;
  color: black;
  font-size: 25px;
  line-height: 30px;
}

.srecentes img {
  height: 163px;
  width: 163px;
  padding: 20px
}

.nrecentes .srecentes {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  height: 240px;
  width: 300px;
  margin-bottom: 40px;
  margin-right: 2px;
}

.srecentes a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
}

.nrecentes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.srecentes:hover {
  box-shadow: 0px 5px transparent;
}

.naltas .alta1 img {
  height: 100%;
  width: 100%;
}

.salta img {
  height: 163px;
  width: 163px;
}

.naltas .salta {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  height: 240px;
  width: 350px;
  margin-bottom: 40px;
  margin-right: 2px;
}

.naltas .alta1 {
  height: 240px;
  width: 100%;
}

.naltas .alta3 {
  height: 240px;
  width: 250px;
}

.naltas .alta2 {
  height: 240px;
  width: 500px;
}

.salta a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
}

.naltas {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.salta:hover {
  box-shadow: 0px 5px transparent;
}


.nbreves .breve1 img {
  height: 100%;
  width: 100%;
}

.sbreve img {
  height: 163px;
  width: 163px;
}

.nbreves .sbreve {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  height: 240px;
  width: 350px;
  margin-bottom: 40px;
  margin-right: 2px;
}

.nbreves .breve1 {
  height: 340px;
  width: 100%;
}

.nbreves .breve3 {
  height: 240px;
  width: 250px;
}

.nbreves .breve2 {
  height: 240px;
  width: 500px;
}

.sbreve a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
}

.nbreves {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.sbreve:hover {
  box-shadow: 0px 5px transparent;
}


.nlancamentos .lanca1 img {
  height: 98%;
  width: 100%;
}

.nlancamentos .lanca4 img {
  height: 98%;
  width: 100%;
}

.slancamentos img {
  height: 163px;
  width: 163px;
}

.nlancamentos .slancamentos {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  height: 240px;
  width: 350px;
  margin-bottom: 40px;
  margin-right: 2px;
}

.nlancamentos .lanca1 {
  height: 380px;
  width: 70%;
}

.nlancamentos .lanca3 {
  height: 240px;
  width: 250px;
}

.nlancamentos .lanca4 {
  height: 380px;
  width: 280px;
}

.nlancamentos .lanca2 {
  height: 240px;
  width: 500px;
}

.slancamentos a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
}

.nlancamentos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.slancamentos:hover {
  box-shadow: 0px 5px transparent;
}

.publi1 img {
  height: 163px;
  width: 163px;
}

.nlancamentos .publi1 {
  text-align: center;
  background: #ffffffc4;
  height: 210px;
  width: 350px;
  margin-bottom: 10%;
  margin-left: 34%;
  margin-right: 34%;
  margin-top: 5%;
}


.publi1 a {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1em;
  text-decoration: none;
  color: black;
}

.titulo {
  font-family: 'Dancing Script', cursive;
  font-size: 25pt;
  text-decoration: none;
  padding: 5px;
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 50px;
}

.titulo a {
  text-decoration: none;
  color: #181642
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(118, 118, 170);
  width: 97%;

}

li {
  float: left;
  display: inline-block;
}

.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  margin-right: 15px;
  margin-top: 10%;
  text-decoration: none;
  font-size: 13pt;
}

.logo {
  margin-top: 5px;
  margin-right: 20px;
}

.logo a:hover {
  background-color: rgb(118, 118, 170);
}

.navlink a:hover {
  background-color: rgb(58, 58, 97);
  border-radius: 15px;
}





.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn:hover {
  background-color: rgb(58, 58, 97);
  border-radius: 15px;
}

.dropdown .dropbtn {
  font-size: 13pt;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 10%;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(116, 116, 185);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: rgb(81, 81, 145);
  padding-left: 10px;
  border-left: 3px solid black;
  transition: all 100ms ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.classi {
  background-color: rgb(162, 0, 255);
  width: 50px;
  height: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  border-radius: 20px;
  margin-top: -5px;
  margin-left: -5px;
  color: rgb(255, 201, 86);
}

.zoom:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-out;
  box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.438);
}

.sobre {
  background-color: rgba(0, 0, 0, 0.61);
  color: rgb(175, 141, 255);
  visibility: hidden;
  width: 100%;
  height: 22px;
  border-radius: 0px 0px 10px 10px;
}

.srecentes:hover .sobre {
  transform: translateY(-50px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.breve1:hover .sobre {
  transform: translateY(-121px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.breve2:hover .sobre {
  transform: translateY(-14px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.breve3:hover .sobre {
  transform: translateY(-14px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.alta1:hover .sobre {
  transform: translateY(-91px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.alta2:hover .sobre {
  transform: translateY(-14px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.alta3:hover .sobre {
  transform: translateY(-14px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;
}

.slancamentos:hover .sobre {
  transform: translateY(-50px);
  transition: 0.3s ease-out;
  visibility: visible;
  height: 30%;

}