@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0;
}

@media (max-width: 800px) {
  .titulo a {
    font-size: 20pt;
    margin-left: -10px;
  }

}

@media (max-width: 400px) {
  div {
    background-color: blue;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

#conteudo {
  background-color: black;
  margin: 0 auto 48px auto;
  width: 1116px;
  padding: 0 12px 0 12px;
}

.titulo {
  font-family: 'Dancing Script', cursive;
  font-size: 25pt;
  text-decoration: none;
  padding: 5px;
  margin: 14px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 50pxpx;
}

.titulo a {
  text-decoration: none;
  color: rgb(151, 43, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7EFE4;
}

li {
  float: left;
}

.navlink a {
  display: block;
  color: rgb(151, 43, 0);
  text-align: center;
  padding: 5px;
  margin: 14px 16px;
  margin-bottom: 15px;
  margin-top: 25%;
  text-decoration: none;
  font-size: 15pt;
}

.logo {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.logo a:hover {
  background-color: #F7EFE4;
}

.navlink a:hover {
  background-color: #d1b386;
  border-radius: 15px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn:hover {
  background-color: #d1b386;
  border-radius: 15px;
}

.dropdown .dropbtn {
  font-size: 15pt;
  border: none;
  outline: none;
  color: rgb(151, 43, 0);
  padding: 5px;
  margin: 14px 16px;
  margin-bottom: 15px;
  margin-top: 15%;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffe8c6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links do dropdown */
.dropdown-content a {
  float: none;
  color: rgb(151, 43, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #e7cea8;
  padding-left: 10px;
  border-left: 3px solid #643f1f;
  transition: all 100ms ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}