

:root {
    --cor-1: #F7EFE4;
    --cor-2: #78746E;
    --cor-3: #F9D19A;
    --cor-4: #78654A;
    --cor-5: #C4BEB5;
    --header-1: #F7EFE4;
}

body {
    background-color: #fff;
    margin: 0;
}

aside {
    border-radius: 15px;
    width: 25%;
    padding-left: 15px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 30px;
    float: right;
    font-style: italic;
}
.sugestao {
    background-color: var(--cor-1);
}
.navbar {
    background-color: var(--header-1);
    padding: 20px;
}
h3 {
    color: #703416;
    font-weight: 700;
    font-size: 20px;
}